/*--------------------------------------------------------------------*/
.textoGeneral{
    font-size: large;
}

.lineaDivisora{
    border-bottom: 2px solid black;
}

.textoNegritas{
    font-weight: bold;
    color: black;
    border-bottom: 2px solid black;
    margin: 10px 100px;
}
html {
    scroll-behavior: smooth;
  }
/*----------------------------Globales-------------------------------*/
.tituloPaginas{
    text-align: center;
    border-bottom: 3px solid black;
    text-decoration: underline;
    font-weight: bold;
    color: black;
}
.subTituloPaginas{
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    text-decoration: underline;
    font-weight: bold;
    color: black;
}
/* Carousel */
.flecha{
    background-color: grey;
    opacity: 50%;
    border-radius: 75%;
}
.flecha:hover{
    background-color: black;
}
.brands{
    padding: 10px 10px;
    background-color: #ECEFF1;
    border-radius: 1%;
    margin-bottom: 2rem;
    width: 85%;
}
.cardsWrapper{
    display: flex;
}
.cardBrands{
    margin: 0 .5em;
    width: calc(100%/3);
} 

.slide{
    margin-top: 10px;
}

.slide img{
    height: 15vw;
}
.imgBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

 /* Carousel */
/*-------------------------Encabezado---------------------------------*/

.logo {
    width: 270px;
    max-width: 100%;
}
.carritoBlanco {
    width: 40px;
}
.header {
    position:sticky;
    top: 0;
    left:0;
    z-index: 3;
}
.textHeader
{
    font-weight: bold;
    font-size: 1.5rem;
}
.bgPage li a:hover{
    background-color: #B18F5A;
    border-radius: 75%;
}
/*-------------------------Encabezado---------------------------------*/
/*----------------------------------Pie de pagina---------------------*/

.linea {
    border-top: 1px solid #B18F5A;
}
.lineaLeft{
    border-left: 1px solid #B18F5A;
    padding: 0px 40px;
}
.colorBtn{
    background-color: #B18F5A;
    font-weight: bold;
    color: white;
}
.colorBtn:hover{
    background-color:#E1C373;
}
.socialLinks h3{
    color:#B18F5A;
}
.socialLinks a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}
.socialLinks a:hover {
    background-color: #B18F5A;
}
/*----------------------------Pie de pagina---------------------------*/
/*---------------------------------Main-------------------------------*/
.bienvenido{
    background-color: #B18F5A;
}
/* Main /// Informacion*/
.informacion{
    background: #ECEFF1;
}
.textoInformacion{
    font-size: small;
    text-align: center;
}
.textoInformacion h3{
    text-decoration: underline;
    font-weight: bold;
}
.informacionBox{
    text-transform: none;
}
/*-------------------------------Contacto------------------------------*/
.contactoFormulario{
    background-color: #ECEFF1;
    border-radius: 1%;
}
.formulario{
    border: 1px solid black;
    border-radius: 2%;
    margin: 3rem;
}
/*-------------------------------Carrito-------------------------------*/
.carritoProductosLg{
    padding: 10px 10px;
}
.carritoProductosMd{
    padding: 10px 10px;
}
.carritoPago{
    padding: 10px 10px;
}

@media (max-width: 1199.98px) {  
    .carritoProductosLg {
        display: none;
    }
}
@media (min-width: 1199.98px) {  
    .carritoProductosMd {
        display: none;
    }
}

.metodosPago ul li{
    list-style: none;
    text-decoration: none;
}