/* Globales */
.featurette-divider {
    margin: 1rem 0; 
  }
  .featurette-heading {
    letter-spacing: -.05rem;
  }
.brands {
    padding: 10px 10px;
    border-radius: 1%;
    margin-bottom: 2rem;
    width: 50rem;
}
.colorBtn {
  background-color: $colorPg;
  font-weight: bold;
  color: white;
}
.colorBtn:hover {
  background-color: #E1C373;
}
.centrar{
  flex: auto;
  align-items: center;
  text-align: center; 
}
.fondoClaro{
  background-color: rgba(237, 237, 237, 0.286);
  border-radius: 1%;
}
@mixin iconos ($size, $color){
  font-size: $size;
  color: $color;
}
.iconosBox{
  @include iconos(5rem,black)
}
@mixin listas{
  list-style: none;
}
.estiloListas{
  @include listas;
}


