.featurette-divider {
    margin: 1rem 0; 
  }
  .featurette-heading {
    letter-spacing: -.05rem;
  }
.brands {
    padding: 10px 10px;
    border-radius: 1%;
    margin-bottom: 2rem;
    width: 50rem;
}
.colorBtn {
  background-color: #B18F5A;
  font-weight: bold;
  color: white;
}
.colorBtn:hover {
  background-color: #E1C373;
}