/* Header */
.logo {
    width: 250px;
    max-width: 100%;
}
.carritoBlanco {
    width: 40px;
}
.textHeader {
    font-weight: bold;
    font-size: 1.5rem;
}
.bgPage li a:hover {
    background-color: $colorPg;
    border-radius: 75%;
}
.espaciado {
    margin-right: 2rem;
}
